.filter-panel {
    position: absolute;
    top: 0;
    width: 400px;
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
        margin: 0;
        color: #1a1a1a;
    }

    .time-filter {
        display: flex;
        flex-direction: column;

        .time-filter-controls {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 8px;

            .value {
                font-size: 14px;
                color: #333333;
                width: 240px;
                text-align: center;
            }
        }
    }
}